extends layout.pug

block content
  h1.text-center.mt-4 Search Results for Crystals

    //- Step 1: Hardcoded data
    - var results = [{ name: "Amethyst", hardness: 7, color: "Purple" },{ name: "Quartz", hardness: 7, color: "Clear" },{ name: "Malachite", hardness: 3.5, color: "Green" }];

    //- Step 2–6: Bootstrap grid
  .container-fluid
  .row
    each crystal in results
      .col-sm-2
        p Name: #{crystal.name}
        p Hardness: #{crystal.hardness}
        p Color: #{crystal.color}



